// 子级元素
// align-self
// flex-start | flex-end | center | baseline | stretch
alignSelfTypes = 'auto' 'flex-start' 'flex-end' 'center' 'baseline' 'stretch'

flexAlignSelf(alignSelf = center)
  if alignSelf in alignSelfTypes
    align-self alignSelf
