// align-items
// flex-start | flex-end | center | baseline | stretch
alignItemsTypes = 'flex-start' 'flex-end' 'center' 'baseline' 'stretch'

// flex-start：交叉轴的起点对齐。
// flex-end：交叉轴的终点对齐。
// center：交叉轴的中点对齐。
// baseline：项目的第一行文字的基线对齐。
// stretch（默认值）：如果项目未设置高度或设为auto，将占满整个容器的高度。

flexAlignItems(alignItems = stretch)
  if alignItems in alignItemsTypes
    ai alignItems
