// align-items
// flex-start | flex-end | center | baseline | stretch
alignItemsTypes = 'flex-start' 'flex-end' 'center' 'baseline' 'stretch'

flexAlignItems(alignItems = stretch)
  if alignItems in alignItemsTypes
    ai alignItems
