// flex-direction
// row | row-reverse | column | column-reverse
directionTypes = 'row' 'row-reverse' 'column' 'column-reverse'

// row（默认值）：主轴为水平方向，起点在左端。
// row-reverse：主轴为水平方向，起点在右端。
// column：主轴为垂直方向，起点在上沿。
// column-reverse：主轴为垂直方向，起点在下沿。

flexDirectionBase(direction = row)
  if direction in directionTypes
    fx-d direction

flexOrient(direction = row)

  if direction is a 'row' or 'row-reverse'
    box-o horizontal

  else if direction is a 'column' or 'column-reverse'
    box-o vertical

flexReverse(direction = row)

  if direction is a 'row' or 'column'
    box-d normal

  else if direction is a 'row-reverse' or 'column-reverse'
    box-d reverse

flexDirection(direction = row)
  if direction in directionTypes
    flexDirectionBase(direction)
    flexOrient(direction)
    flexReverse(direction)

// wrap
// nowrap | wrap | wrap-reverse
wrapTypes =  'nowrap' 'wrap' 'wrap-reverse'

// nowrap（默认）：不换行。
// wrap：换行，第一行在上方。
// wrap-reverse：换行，第一行在下方。

flexWrap(wrapType = nowrap)
  if wrapType in wrapTypes
    fx-w wrapType

// flow
flexFlow(direction = row, wrapType = nowrap)
  if direction in directionTypes and wrapType in wrapTypes
    fx-f direction wrapTypes
