// justify-content 父级元素
// flex-start | flex-end | center | space-between | space-around
justifyContentTypes = 'flex-start' 'flex-end' 'center' 'space-between' 'space-around'

flexJustifyContent(justifyContent = space-around)
  if justifyContent in justifyContentTypes
    jc justifyContent
