/*
    Variables
*/

$blue: #056ef0;
$column: 200px;

.menu {
  width: calc(4 * $column);
}

.menu_link {
  background: $blue;
  width: $column;
}

/*
    Conditionals
*/

.notice--clear {
  @if 3 < 5 {
    background: green;
  }
  @else {
    background: blue;
  }
}

/*
    Loops
*/

@for $i from 1 to 3 {
  .b-$i {
    width: $(i)px;
  }
}

@each $icon in (foo, bar, baz) {
  .icon-$(icon) {
    background: url('icons/$(icon).png');
  }
}

/*
    Mixins
*/

@define-mixin icon $name {
  padding-left: 16px;

  &::after {
    content: "";
    background-url: url(/icons/$(name).png);
  }
}

.search {
  @mixin icon search;
}

/*
    Extends
*/

@define-extend bg-green {
  background: green;
}

.notice--clear {
  @extend bg-green;
}

/*
    Imports
*/

/*  @import "partials/base";  */

/*
    Property Lookup
*/

.heading {
  margin: 20px;
  padding: @margin;
}

/*
    Root
*/

.parent {
  background: white;

  @at-root{
    .child {
      background: black;
    }
  }
}
