/*@define-mixin foo $direction: row {
  @if 3 < 5 {
    background: green;
  }
  @else {
    background: blue;
  }

  @if NOT 3 == row {
    box-orient: horizontal
  }
}*/

/*@defile-mixin flexDirection $direction: row {
  @if $direction < 5 {
    box-orient: horizontal
  }
  @else {
    box-orient: vertical
  }
}*/

.u-fx {

    display: -webkit-box !important;

    display: -webkit-flex !important;

    display: -ms-flexbox !important;

    display: flex !important
}

.u-fxI {

    display: -webkit-inline-box !important;

    display: -webkit-inline-flex !important;

    display: -ms-inline-flexbox !important;

    display: inline-flex !important
}

.u-fxOrient {

    .icon.is- {

        color: blue
    }

    .icon.is-:hover {

        color: white;

        background: blue
    }

    if  {

        color: red
    }
}
