.icon.is-twitter {
    color: blue;
    background: url(twt.png);
}
.icon.is-twitter:hover {
    color: white;
    background: blue;
}
.icon.is-youtube {
    color: red;
    background: url(youtube.png);
}
.icon.is-youtube:hover {
    color: white;
    background: red;
}

.u-clearFix:before, .u-clearFix:after {
    content: "";
    display: table;
}

.u-clearFix:after {
    clear: both;
}
