@import './alias.post.css';

@define-mixin flex {
  d: fx !important;
}

@define-mixin flexInline {
  d: fx-i !important;
}

@define-mixin icon $network, $color: blue {
  .icon.is-$(network) {
    color: $color;
    @mixin-content;
  }
  .icon.is-$(network):hover {
    color: white;
    background: $color;
  }

  @if $(network) {
    color: red;
  }
}

/*@define-mixin foo $direction: row {
  @if 3 < 5 {
    background: green;
  }
  @else {
    background: blue;
  }

  @if NOT 3 == row {
    box-orient: horizontal
  }
}*/

/*@defile-mixin flexDirection $direction: row {
  @if $direction < 5 {
    box-orient: horizontal
  }
  @else {
    box-orient: vertical
  }
}*/
