@alias

  // flex
  ifx inline-flex
  fx flex
  fx-a flex-align
  fx-b flex-basis
  fx-d flex-direction
  fx-f flex-flow
  fx-g flex-grow
  fx-o flex-order
  fx-p flex-pack
  fx-s flex-shrink
  fx-w flex-wrap
  ac align-content
  ai align-items
  as align-self
  box-o box-orient
  jc justify-content
